<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>final_bird_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{152,174}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{152,174}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>final_bird_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,187},{182,128}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,54},{182,128}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>final_bird_blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,371},{154,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{154,138}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>final_bird_blue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,177},{152,172}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{152,172}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>final_bird_blue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{152,184}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{152,184}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>final_bird_blue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1},{184,128}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,47},{184,128}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>final_bird_blue_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{162,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{162,138}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>final_bird_blue_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{152,176}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{152,176}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueBird.png</string>
            <key>size</key>
            <string>{438,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c355d012323060492571054584a55f4:adfb2c084ab2e868356d1a925ba6bd81:9b5af50a964e2c8c0c2b74743cc6eabf$</string>
            <key>textureFileName</key>
            <string>blueBird.png</string>
        </dict>
    </dict>
</plist>
